<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/"><img src="/img/logo-mercado-liebre.svg" alt=""></a>
        Lugar para poner la barra de búsqueda
        Comprá en cuotas y sin tarjeta de crédito
        <nav>
            <ul>
                <li><a href="https://youtu.be/dQw4w9WgXcQ">Ofertas</a></li>
                <li><a href="https://youtu.be/dQw4w9WgXcQ">Tiendas oficiales</a></li>
                <li><a href="https://youtu.be/dQw4w9WgXcQ">Vender</a></li>
                <li><a href="https://youtu.be/dQw4w9WgXcQ">Ayuda</a></li>
                <br>
                <li><a href="https://youtu.be/dQw4w9WgXcQ">Creá tu cuenta</a></li>
                <li><a href="https://youtu.be/dQw4w9WgXcQ">Ingresá</a></li>
                <li><a href="https://youtu.be/dQw4w9WgXcQ">Mis Compras</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <article>
                <img width="60%" src="/img/img-cafetera-moulinex.jpg" alt="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <b>Cafetera Moulinex</b>
            </article>
            <article>
                <img width="60%" src="/img/img-macbook-pro-2019.jpg" alt="">
                <p>$230.000</p>
                <p>20% OFF</p>
                <b>MacBook Pro 2019</b>
            </article>
            <article>
                <img width="60%" src="/img/img-samsung-galaxy-s10.jpg" alt="">
                <p>$70.500</p>
                <p>10% OFF</p>
                <b>Samsung Galaxy S10</b>
            </article>
            <article>
                <img width="60%" src="/img/img-tv-samsung-smart.jpg" alt="">
                <p>$23.200</p>
                <p>5% OFF</p>
                <b>SmartTV Samsung 43"</b>
            </article>
        </section>

        <section>
            <h3>Ofertas</h3>
            <article>
                <img width="60%" src="/img/img-cafetera-moulinex.jpg" alt="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <b>Cafetera Moulinex</b>
            </article>
            <article>
                <img width="60%" src="/img/img-macbook-pro-2019.jpg" alt="">
                <p>$230.000</p>
                <p>20% OFF</p>
                <b>MacBook Pro 2019</b>
            </article>
            <article>
                <img width="60%" src="/img/img-samsung-galaxy-s10.jpg" alt="">
                <p>$70.500</p>
                <p>10% OFF</p>
                <b>Samsung Galaxy S10</b>
            </article>
            <article>
                <img width="60%" src="/img/img-tv-samsung-smart.jpg" alt="">
                <p>$23.200</p>
                <p>5% OFF</p>
                <b>SmartTV Samsung 43"</b>
            </article>
        </section>
    </main>
    
    <br>

    <footer>
        <div>
            <b>Pagá con tarjeta o en efectivo</b>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <b>Envío gratis desde $ 2.500</b>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <b>Seguridad, de principio a fin</b>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        
    </footer>
</body>
</html>