<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/da8f9c3d94.js" crossorigin="anonymous"></script> <!-- Icons -->
    <script src="/components/header.js" type="text/javascript" defer></script>
    <script src="/components/footer.js" type="text/javascript" defer></script>
    <title>Mercado Liebre</title>
</head>
<body class="home">
    <header-component></header-component>

    <main class="home__main">
        <a href="https://youtu.be/3HUWUtTZvK4"><img src="/img/img-home-banner.jpg" id="banner"></a>
        <h3>Basado en tu última visita</h3>
        <section class="home__main__products">
            <article>
                <img width="60%" src="/img/img-cafetera-moulinex.jpg" alt="">
                <div class="home__main__products__infobox">
                    <div class="truck-container">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="home__main__products__price">$6.770</p>
                    <p class="home__main__products__discount">40% OFF</p>
                    <p class="home__main__products__name"">Cafetera Moulinex</p>
                </div>
                
            </article>
            <article>
                <img width="60%" src="/img/img-macbook-pro-2019.jpg" alt="">
                <div class="home__main__products__infobox">
                    <div class="truck-container">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="home__main__products__price">$230.000</p>
                    <p class="home__main__products__discount">20% OFF</p>
                    <p class="home__main__products__name"">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img width="60%" src="/img/img-samsung-galaxy-s10.jpg" alt="">
                <div class="home__main__products__infobox">
                    <div class="truck-container">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="home__main__products__price">$70.500</p>
                    <p class="home__main__products__discount">10% OFF</p>
                    <p class="home__main__products__name"">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img width="60%" src="/img/img-tv-samsung-smart.jpg" alt="">
                <div class="home__main__products__infobox">
                    <div class="truck-container">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="home__main__products__price">$23.200</p>
                    <p class="home__main__products__discount">5% OFF</p>
                    <p class="home__main__products__name"">SmartTV Samsung 43"</p>
                </div>
            </article>
        </section>

        <h3>Ofertas</h3>
        <section class="home__main__products">
            <article>
                <img width="60%" src="/img/img-cafetera-moulinex.jpg" alt="">
                <div class="home__main__products__infobox">
                    <div class="truck-container">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="home__main__products__price">$6.770</p>
                    <p class="home__main__products__discount">40% OFF</p>
                    <p class="home__main__products__name"">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img width="60%" src="/img/img-macbook-pro-2019.jpg" alt="">
                <div class="home__main__products__infobox">
                    <div class="truck-container">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="home__main__products__price">$230.000</p>
                    <p class="home__main__products__discount">20% OFF</p>
                    <p class="home__main__products__name"">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img width="60%" src="/img/img-samsung-galaxy-s10.jpg" alt="">
                <div class="home__main__products__infobox">
                    <div class="truck-container">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="home__main__products__price">$70.500</p>
                    <p class="home__main__products__discount">10% OFF</p>
                    <p class="home__main__products__name"">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img width="60%" src="/img/img-tv-samsung-smart.jpg" alt="">
                <div class="home__main__products__infobox">
                    <div class="truck-container">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="home__main__products__price">$23.200</p>
                    <p class="home__main__products__discount">5% OFF</p>
                    <p class="home__main__products__name"">SmartTV Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>
    
    <br>

    <footer-component></footer-component>
</body>
</html>