<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/da8f9c3d94.js" crossorigin="anonymous"></script> <!-- Icons -->
    <script src="/components/header.js" type="text/javascript" defer></script>
    <script src="/components/footer.js" type="text/javascript" defer></script>
    <title>Mercado liebre - Crea tu cuenta</title>
</head>
<body class="register">
    <header-component></header-component>

    <main class="register__main">
        <form class="register__main__form" action="/">
            <h1>Crea tu cuenta</h1>
            <input type="text" name="nombreApellido" placeholder="Nombre y apellido" required minlength="3">
            <p class="register__main__form--error">Nombre y apellido no puede contener números o símbolos.</p>
            <input type="text" name="nombreUsuario" placeholder="Nombre de usuario" required minlength="3">
            <p class="register__main__form--error">Nombre de usuario ocupado.</p>
            <div class="register__main__form__password">
                <input type="password" name="pass1" placeholder="Contraseña" minlength="5" required>
                <input type="password" name="pass2" placeholder="Repetir contraseña" minlength="5" required>
            </div>
            <p class="register__main__form--error">Contraseña demasiado débil o no coinciden.</p>
            <input type="email" name="email" placeholder="Email" minlength="3" required>
            <p class="register__main__form--error">Dirección de email ya ocupada.</p>
            <input type="file" name="pfp" id="pfp" hidden>
            <label class="register__main__form__pfp" for="pfp">Sube una imágen de perfil</label>
            <p class="register__main__form--error">Imágen de perfil pesa más de 5 MB.</p>
            <h4>Fecha de nacimiento</h4>
            <input type="date" name="fechaNacimiento" required>
            <p class="register__main__form--error">No eres mayor de edad.</p>
            <input type="text" name="domicilio" placeholder="Domicilio" required>
            <p class="register__main__form--error">Ahora sé donde vives.</p>
            
            <h4>Perfil de usuario</h4>
            <div class="register__main__form__radiolist">
                <div class="register__main__form__choice">
                    <input type="radio" name="perfil" value="0" id="comprador">
                    <label for="comprador">Comprador</label>
                </div>
                <div class="register__main__form__choice">
                    <input type="radio" name="perfil" value="1" id="vendedor">
                    <label for="vendedor">Vendedor</label>
                </div>
                <p class="register__main__form--error">Debes seleccionar una opción.</p>
            </div>
            
            <h4>Intereses</h4>
            <div class="register__main__form__checklist">
                <div class="register__main__form__choice">
                    <input type="checkbox" name="interes" value="electro" id="electro">
                    <label for="electro">Electro</label>
                </div>
                <div class="register__main__form__choice">
                    <input type="checkbox" name="interes" value="moda" id="moda">
                    <label for="moda">Moda</label>
                </div>
                <div class="register__main__form__choice">
                    <input type="checkbox" name="interes" value="hogar" id="hogar">
                    <label for="hogar">Hogar</label>
                </div>
                <div class="register__main__form__choice">
                    <input type="checkbox" name="interes" value="jugueteria" id="jugueteria">
                    <label for="jugueteria">Jugueteria</label>
                </div>
                <div class="register__main__form__choice">
                    <input type="checkbox" name="interes" value="vidaSana" id="vidaSana">
                    <label for="vidaSana">Vida sana</label>
                </div>
            </div>
            
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar datos">
        </form>
    </main>

    <footer-component></footer-component>
</body>
</html>