.home
{

}

/*!     H E A D E R     */
.home__header
{
    background-color: var(--c_amarillo);
    font-size: var(--fs_body);
    text-align: center;
    padding-bottom: 15px;
}

.home__header img
{
    width: 50%;
    margin: 5px 0px;
}

.home__header p
{
    margin: 10px 40px 10px;
}

.home__header__menu
{
    display:none;
    padding-bottom: 5px;
}

.home__header__menu *
{
    margin-bottom: 5px;
}

#burger
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c_celeste);
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#burger i
{
    color: white;
    font-size: 25px;
}

/*!     M A I N     */
.home__main
{
    background-color: var(--c_grisClaro);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.home__main__products
{
    
}

.home__main__products__infobox
{
    /*text-align: left; No me gusta como queda left-leaning :C */ 
    border: solid 1px var(--c_grisClaro);
    padding: 15px;
}

.home__main__products__infobox i
{
    color: var(--c_verde);
    padding: 10px;
    border: solid 1px var(--c_verde);
    border-radius: 30px;
    margin-bottom: 5px;
}

.home__main__products__infobox b
{
    display:none;
}

.home__main__products h3
{
    margin: 30px 0px;
    font-size: var(--fs_title);
}

.home__main__products__price
{
    font-size: var(--fs_price);   
}

.home__main__products__discount
{
    font-size: var(--fs_discount);
    color: var(--c_verde);
    margin-bottom: 5px;
}

.home__main__products article
{
    background-color: white;
    border-radius: 5px;
    margin: 10px 5%;
    /*padding: 20px;*/
}

/*!     F O O T E R     */

.home__footer
{
    text-align: center;
    color: var(--c_grisOscuro);
    padding-bottom: 20px;
}

.home__footer div
{
    margin: 40px;
}

.home__footer div i
{
    font-size: 26px;
    color: var(--c_celeste);
    margin-bottom: 10px;
}

.home__footer div h4
{
    font-size: var(--fs_description);
}

.home__footer div p
{
    font-size: var(--fs_body);
}

.home__footer p
{
    font-size: var(--fs_body);
}

@media (min-width: 426px)  /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Tablet & desktop*/
{
    .home__header
    {
        padding-bottom: 0;
    }

    .home__header__menu
    {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px 0px;
    }

    .home__header__menu ul
    {
        display:flex;
        flex-direction: row;
    }

    .home__header__menu ul li a
    {
        padding: 13px 10px;
    }

    #burger
    {
        display: none;
    }

    .home__main__products__infobox b
    {
        display: inline;
    }

    .home__main__products article
    {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 769px) /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Desktop */
{
    .home__header__menu ul li a
    {
        padding: 13px 20px;
        font-size: 14px;
    }

    .home__header__menu ul li a:hover
    {
        background-color: #dfbd16;
    }
}