.home
{

}

#banner
{
    width: 100%;
}

.home__main
{
    background-color: var(--c_grisClaro);
    text-align: center;
    padding-bottom: 40px;
}

.home__main h3
{
    margin: 30px 0px;
    font-size: var(--fs_title);
    color: var(--c_grisOscuro);
}

.home__main__products
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.home__main__products article
{
    background-color: white;
    border-radius: 5px;
    margin: 10px 5%;
    /*padding: 20px;*/
}

.home__main__products__infobox
{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    border-top: solid 1px var(--c_grisClaro);
    padding: 15px 15px 5px;
}

.home__main__products__infobox .truck-container
{
    position: relative;
    bottom: 9vw;
    left: 70vw;
    width: 0;
    height: 0;
}

.home__main__products__infobox i
{
    background-color: white;
    color: var(--c_verde);
    border: solid 1px var(--c_verde);
    border-radius: 100px;
    padding: 2.9vw;
    font-size: 4vw;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.home__main__products__price
{
    font-size: var(--fs_price);   
    padding-right: 10px;
    width: 30%;
}

.home__main__products__discount
{
    font-size: var(--fs_discount);
    color: var(--c_verde);
    margin-bottom: 15px;
    padding-left: 5px;
    width: 70%;
}

.home__main__products__name
{
    display:none;
    overflow: hidden;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

@media (min-width: 426px)  /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Tablet & desktop*/
{
    .home__main h3
    {
        text-align: left;
        padding-left: 4%;
    }

    .home__main__products
    {
        flex-direction: row;
        justify-content: center;
    }

    .home__main__products article
    {
        width: 40%;
    }

    .home__main__products__name
    {
        display: inline;
        width: 100%;
    }
    
    .home__main__products__infobox
    {
        padding: 15px 15px 25px;
    }

    .home__main__products__infobox .truck-container
    {
        bottom: 5vw;
        left: 30vw;
    }
    
    .home__main__products__infobox i
    {
        padding: 1.5vw;
        font-size: 2vw;
    }
}

@media (min-width: 769px) /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Desktop */
{
    .home__main__products
    {
        height: 250px;
    }

    .home__main__products article
    {
        
        width: 20%;
        margin: 10px 2%;
        height: 220px;
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
    }

    .home__main__products article:hover .home__main__products__name
    {
        height: 30px;
    }

    .home__main__products article:hover
    {
        height: 250px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .home__main__products__name
    {
        display: inline;
        height: 0;
        width: 100%;
    }

    .home__main__products__infobox .truck-container
    {
        bottom: 2.7vw;
        left: 14.5vw;
    }

    .home__main__products__infobox i
    {
        padding: 0.5vw;
        font-size: 1.3vw;
    }

    .truck-container:hover i
    {
        transform: rotate(-360deg);
    }
}